.DS_Store
releases
.sass-cache/
tmp/
config/deploy.yml
public/.sass-cache/
public/stylesheets/bootstrap.css
public/stylesheets/bootstrap-responsive.css
public/images/stickers-retina-*.png
public/images/stickers-*.png
public/images/illustration_*
