.DS_Store
releases
tmp/
config/deploy.yml
public/.sass-cache/
public/stylesheets/bootstrap.css
public/stylesheets/bootstrap-responsive.css
public/images/stickers-retina-s893d7a1edc.png
public/images/stickers-s48d3d5a6b7.png
