<div class="container">
  <div class="row">
    <div class="span12">
      <h1>
      {% editable_short_text "contact_title", hint: "Contact Title", priority: 50 %}
        Get in Touch
      {% endeditable_short_text %}
      </h1>
    </div>   
  </div>

  <div class="row">
    <div class="span6">

    </div>

    <div class="span6">

    </div>
  </div>

  <div class="row">

  </div>
</div>