<div class="container">
  <div class="row">
    <div class="span12">
      <h1>
      {% editable_short_text "contact_title", hint: "Contact Title", priority: 50 %}
        Get in Touch
      {% endeditable_short_text %}
      </h1>
    </div>   
  </div>

  <div class="row">
    <div class="span6">
      <span class="list-info-medium email-medium">E-mail us: info@applidget.com</span><br />
      <span class="list-info-medium phone-medium">Call us: 555 456</span><br />
      <span class="list-info-medium location-medium">Fake Street 654, ST, Country</span><br />
      <br />
      <span class="list-info-medium heart-medium">Go Social:
        <span class="inline-to-block">
          {{ "icon-facebook-big-colored.png" | theme_image_tag }}
          {{ "icon-twitter-big-colored.png" | theme_image_tag }}
          {{ "icon-linkedin-big-colored.png" | theme_image_tag }}
        </span>
      </span>
    </div>

    <div class="span6 contact-form">
      <iframe height="499" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="https://applidget.wufoo.com/embed/q7w9k9/"><a href="https://applidget.wufoo.com/forms/q7w9k9/">Fill out our contact form!</a></iframe>
    </div>
  </div>

  <div class="row">
    <div class="span4 copyrights">Applidget 2012 (c) All Rights Reserved</div>
    <div class="span8 menu">
      {% nav site, class: 'nav', active_class: 'active', bootstrap: true %}
    </div>
  </div>
</div>