<div class="navbar" id="main-navbar">
  <div class="navbar-inner">
    <div class="container">
      <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <!-- <a href="./" class="brand">
          {{ "applidget_logo_orange.png" | image_tag: "alt:Applidget" }}
        </a> -->
      <div class="nav-collapse collapse">
        {% nav site, class: 'nav', active_class: 'active', bootstrap: true %}
      </div>
    </div>
  </div>
</div>