/* Partial initializing stylesheets and importing framework utilities, fonts ... */

/* Common Variables */
$grey: #3d3d3d;
$image-list: (applidget, blogs, contact, events, team, technologies);  // TODO(ssaunier): is there a way to retrieve this list programatically?

/* Compass Modules Import */
@import "compass/reset";
@import "compass/utilities";
@import "compass/utilities/sprites";
@import "compass/css3/background-size";
@import "compass/css3/images";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

/* Sprite Files Import */
@import "stickers/*.png";
@import "stickers-retina/*.png";
@include all-stickers-sprites(true);

/* Mixins Implementation */
@mixin retina-sprite($name, $sprites, $sprites2x, $percent) {
  $spritePath: sprite-path($sprites);
  $spriteWidth: image-width($spritePath);
  $spriteHeight: image-height($spritePath);
  $width: image-width(sprite-file($sprites, $name));
  $height: image-height(sprite-file($sprites, $name));

  @include background-size(floor($spriteWidth * $percent) floor($spriteHeight * $percent));
  width: floor($width * $percent);
  height: floor($height * $percent) - 1; // -1 to make sure the background fits in the block because of its rounded position
  background-position: 0 floor(nth(sprite-position($sprites, $name), 2) * $percent);

  // Retina
  @media (#{-webkit-min-device-pixel-ratio}: #{1.5}), (#{min--moz-device-pixel-ratio}: #{1.5}), (#{-o-min-device-pixel-ratio}: #{3 / 2}), (#{min-device-pixel-ratio}: #{1.5}) {
    & {
      $position: sprite-position($sprites, $name);
      $position2x: sprite-position($sprites2x, $name);

      @if ($position != $position2x / 2) {
        $xpos: floor(nth(sprite-position($sprites2x, $name), 1) * $percent / 2);
        $ypos: floor(nth(sprite-position($sprites2x, $name), 2) * $percent / 2);
        background-position: $xpos $ypos;
      }

      background-image: sprite-url($sprites2x);
    }
  }
}

/* Fonts */
@font-face {
  font-family: 'gothamrnd_book';
  src: url('../fonts/gothamrnd-book.eot');
  src: url('../fonts/gothamrnd-book.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gothamrnd-book.woff') format('woff'),
       url('../fonts/gothamrnd-book.ttf') format('truetype'),
       url('../fonts/gothamrnd-book.svg#gothamrnd_book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo500';
  src: url('../fonts/museo500-webfont.eot');
  src: url('../fonts/museo500-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/museo500-webfont.woff') format('woff'),
       url('../fonts/museo500-webfont.ttf') format('truetype'),
       url('../fonts/museo500-webfont.svg#museo500') format('svg');
  font-weight: normal;
  font-style: normal;
}
