{% extends index %}

{% block 'header' %}

  <div class="header">
    <div class="jumbotron main-header" id="section-job-offers">
      <div class="container">
        {% assign url = 'applidget-logo/red.png' %}
        {% include 'topmenu' %}
      </div>

      <div class="container">
        <div class="row">
          <div class="span12">
            <h1>
            {% editable_short_text "job_offers_title", hint: "Job Offers Title", priority: 100 %}
              Job Offers
            {% endeditable_short_text %}
            </h1>
          </div>   
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block 'main' %}

  <div class="jumbotron main-content" id="main-job-offers">
    <div class="container page">

      {% with_scope published: true %}

        {% for offer in contents.offers %}

          <div class="row" id="{{ offer._permalink }}">
            <div class="span12">

              <div class="bloc-header">
                <span class="bloc-title"><a href="/offers/{{ offer._permalink }}">{{ offer.title }}</a></span>
              </div>

              <div class="bloc-description">
                {{ offer.body }}
              </div>
            
            </div>
          </div>

        {% endfor %}

      {% endwith_scope %}

    </div>
  </div>

{% endblock %}