---
title: "Portfolio"
published: true
---

{% extends index %}

{% block 'header' %}

  <div class="header">
    <div class="jumbotron" id="section-technologies">
      <div class="container dark-menu">
        {% assign url = 'applidget-logo/grey.png' %}
        {% include 'topmenu' %}
      </div>

      {% include 'technologies' %}
    </div>
  </div>

{% endblock %}

{% block 'main' %}

  <div class="jumbotron" id="section-technologies-description">
    {% include 'technologies_description' %}
  </div>

  <div class="container page" id="development-project-list">
    <ul class="row">

      {% with_scope published: true %}
        {% for object in contents.projects %}
          <li class="span4">
            <a href="/projets/{{ object._permalink }}">
              {{ object.thumbnail.url | image_tag }}
              <p>{{ object.title }} - {{ object.type }}</p>
            </a>
          </li>
        {% endfor %}
      {% endwith_scope %}

    <ul>
  </div>


{% endblock %}

