---
title: "Technologies"
published: true
---

{% extends index %}

{% block 'header' %}

  <div class="header">
    <div class="jumbotron" id="section-technologies">
      <div class="container dark-menu">
        {% assign url = 'applidget-logo/grey.png' %}
        {% include 'topmenu' %}
      </div>

      {% include 'technologies' %}
    </div>
  </div>

{% endblock %}

{% block 'main' %}

  <div class="jumbotron" id="section-technologies-description">
    {% include 'technologies_description' %}
  </div>

  <div class="jumbotron" id="main-technologies">
    <div class="container page">

      {% with_scope published: true %}

        {% for object in contents.technologies %}

          {% assign icon = false %}
          {% assign link_url = false %}
          {% include 'page_content' %}

        {% endfor %}

      {% endwith_scope %}

    </div>
  </div>

{% endblock %}

