---
title: "What we do"
published: true
---

{% extends index %}

{% block 'header' %}

  <div class="header">
    <div class="jumbotron" id="section-why-choose">
      <div class="container">
        {% assign url = 'applidget-logo/blue.png' %}
        {% include 'topmenu' %}
      </div>

      {% include 'what_we_do' %}
    </div>
  </div>

{% endblock %}

{% block 'main' %}

  <div class="container page" id="main-why-choose">

    {% with_scope published: true %}

      {% for object in contents.projects %}

        {% assign icon = true %}
        {% assign link_url = false %}
        {% include 'page_content' %}

      {% endfor %}

    {% endwith_scope %}

  </div>

{% endblock %}